extends layout

block content
  form.text-center(action="/login/logout", method="post")
    if uid
      h3 您的名稱是： #{displayName}
    else 
      h6 您還沒登入
    button(type="submit").w-100.btn.btn-lg.btn-primary.mt-3 登出